@import "./color.scss";

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.userNameInput{
    border-radius: 10px;
    border : 1px solid black;
    height: 40px;
    padding: 10px;
}

.chatTemplate{
    border-radius: 10px;
    border: 1px solid black;
    background-color: wheat;
    width: 300px;
    height: 500px;
    position: relative;
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    animation: fadein 1.2s;

    .chatMessageBox{
        height: 92%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        header{
            padding: 10px 15px;
            border-radius:10px;
            position: sticky;
            top: 0px;
            display: flex;
            justify-content: space-between;
            background-color: wheat;
            img{
                cursor: pointer;
            }
        }

        li{
            padding: 1px 15px;
            display: flex;
            flex-direction: column;
            gap: 3px;
            &.myMessage{
                align-items: flex-end;
                span{
                    display: none;
                }
            }
            &.otherMessage{
                align-items: flex-start;
                span{
                    font-size: 14px;
                    outline: none;
                }
            }
        
            p{
                font-weight: 600;
                font-size: 16px;
                padding: 5px 10px;
                background-color: white;
                border-radius: 10px;
                max-width: 150px;
                word-wrap: break-word;
            }

            img{
                border-radius: 10px;
            }
        }
    }

    .chatInputBox{
        position: relative;
        label{
            position: absolute;
            top:10px;
            left:10px;
            cursor: pointer;
            input{
                display: none;
            }
        }
        .chatInput{
            border-radius: 10px;
            height: 40px;
            width: 100%;
            border: none;
            padding: 10px 10px 10px 40px;
        }
    }

    aside{
        position: absolute;
        border-radius: 10px;
        display: flex;
        justify-content: flex-end;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        div{
            border-radius: 10px;
            width: 80%;
            height: 100%;
            background-color:#fff9db;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            overflow-y: auto;
            @keyframes fadeInRight {
                from {
                    opacity: 0;
                    transform: translate3d(15%, 0, 0);
                }
                to {
                    opacity: 1;
                    transform: translateZ(0);
                }
            }
            @-moz-keyframes fadein { /* Firefox */
                from {
                    opacity: 0;
                    transform: translate3d(15%, 0, 0);
                }
                to {
                    opacity: 1;
                    transform: translateZ(0);
                }
            }
            @-webkit-keyframes fadein { /* Safari and Chrome */
                from {
                    opacity: 0;
                    transform: translate3d(15%, 0, 0);
                }
                to {
                    opacity: 1;
                    transform: translateZ(0);
                }
            }
            animation: fadeInRight 0.5s;
            span{
                font-weight: 800;
                margin-bottom: 20px;
            }
            li{
                font-size: 14px;
            }
            .myName{
                font-weight: 800;
            }
       
        }
    }
}